body::before {
    content: "not set";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    background-color: #f0ab00;
    color: rgb(21, 21, 21);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "RedHatDisplay", Helvetica, Arial, sans-serif;
    letter-spacing: 0.875rem;
    z-index: 9999;
}

body {
    padding-top: 4rem;
}
